.mySwiper {
  height: 100vh;
}

.swiper-pagination-bullet {
  background-color: #007cc7;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 150px;
}

.css-319lph-ValueContainer {
  color: white;
}

.css-319lph-ValueContainer .css-6j8wv5-Input {
  color: white;
}

.css-319lph-ValueContainer .css-6j8wv5-Input > input {
  color: white;
}

.homePage {
  background-color: #0b0c10;
}

.homePage .firstSection {
  margin-bottom: 300px;
}

.homePage .firstSection .sliderSection {
  position: relative;
  height: 100vh;
}

.homePage .firstSection .sliderSection img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.homePage .firstSection .sliderSection .textSlider {
  position: absolute;
  left: 15vw;
  top: 30vh;
  width: 30vw;
  min-width: 150px;
}

.homePage .firstSection .sliderSection .textSlider h1 {
  font-size: 40px;
}

.homePage .firstSection .sliderSection .textSlider h2 {
  font-size: 18px;
}

.homePage .firstSection .searchDiv {
  background-color: #071620;
  padding: 30px;
  position: absolute;
  bottom: -130px;
  z-index: 2;
  width: 60vw;
  min-width: 500px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.homePage .firstSection .searchDiv .searchHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePage .firstSection .searchDiv .searchHeader > h2 {
  padding: 10px 30px;
  padding-top: 0px;
  cursor: pointer;
}

.homePage .firstSection .searchDiv .searchHeader > h2:hover {
  opacity: 0.8;
}

.homePage .firstSection .searchDiv .searchHeader .searchSelected {
  color: #007cc7;
  border-bottom: 2px solid #007cc7;
}

.homePage .firstSection .searchDiv .searchHeader .searchNotSelected {
  color: #026fb3;
  border-bottom: 2px solid transparent;
}

.homePage .firstSection .searchDiv .seconAndFirst {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.homePage .firstSection .searchDiv .searchSecondDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.homePage .firstSection .searchDiv .searchSecondDiv .searchSecondDivInput {
  position: relative;
  height: 38px;
  background-color: #152836;
}

.homePage .firstSection .searchDiv .searchSecondDiv .searchSecondDivInput .select {
  width: 30vw;
  margin: 10px;
}

.homePage .firstSection .searchDiv .searchSecondDiv .searchSecondDivInput input {
  height: 100%;
  border: none;
  background-color: #152836;
  padding-left: 35px;
  color: white;
  font-size: 18px;
  width: 20vw;
}

.homePage .firstSection .searchDiv .searchSecondDiv .searchSecondDivInput .fa-search {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

.homePage .firstSection .searchDiv .searchSecondDiv .select {
  border: none;
  background-color: #152836;
  color: white;
  padding: 0px 2%;
}

.homePage .firstSection .searchDiv .searchThirdDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.homePage .firstSection .searchDiv .searchThirdDiv .searchSecondDivInput {
  position: relative;
  height: 38px;
  background-color: #152836;
}

.homePage .firstSection .searchDiv .searchThirdDiv .searchSecondDivInput .select {
  width: calc(20vw + 15px);
  margin-left: 20px;
}

.homePage .firstSection .searchDiv .searchThirdDiv .searchSecondDivInput .fa-map-marker {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

.homePage .firstSection .searchDiv .searchThirdDiv .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007cc7;
  padding: 10px 25px;
  cursor: pointer;
  max-height: 20px;
}

.homePage .firstSection .searchDiv .searchThirdDiv .submit:hover {
  opacity: 0.8;
}

.homePage .firstSection .searchDiv .searchThirdDiv .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.homePage .firstSection .searchDiv .searchThirdDiv .price .priceText {
  margin-right: 10px;
}

.homePage .recommendedCars {
  width: 60vw;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 2%;
  margin-bottom: 50px;
}

.homePage .recommendedCars .recommendedHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage .recommendedCars .recommendedHeader p {
  color: #007cc7;
  cursor: pointer;
}

.homePage .recommendedCars .recommendedHeader p:hover {
  opacity: 0.8;
}

.homePage .recommendedCars .recommendedHeader .selecting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage .recommendedCars .recommendedHeader .selecting h2 {
  padding: 10px 30px;
  padding-top: 0px;
  cursor: pointer;
}

.homePage .recommendedCars .recommendedHeader .selecting h2:hover {
  opacity: 0.8;
}

.homePage .recommendedCars .recommendedHeader .selecting .selected {
  color: #007cc7;
  border-bottom: 2px solid #007cc7;
}

.homePage .recommendedCars .recommendedHeader .selecting .unSelected {
  color: #026fb3;
  border-bottom: 2px solid transparent;
}

.homePage .recommendedCars .recommendedNewCarsPc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.homePage .recommendedCars .recommendedNewCarsPc .car {
  width: calc(30% - 20px);
  margin: 0;
}

.homePage .recommendedCars .recommendedNewCarMobile {
  display: none;
}

.homePage .compareCars {
  width: 60vw;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 2%;
  margin-bottom: 50px;
}

.homePage .compareCars > h2 {
  margin-bottom: 30px;
}

.homePage .compareCars .compareCarsSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage .compareCars .compareCarsSecond .car {
  width: calc(40% - 20px);
  margin: 0;
}

.homePage .compareCars .compareCarsSecond .versus {
  background-color: #007cc7;
  padding: 2%;
  border-radius: 50%;
  margin: 5px;
}

.homePage .compareCars .compareBtn {
  width: 60%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
}

.homePage .compareCars .compareBtn:hover {
  opacity: .8;
}

.homePage .compareCars .compareBtn h2 {
  font-size: 20px;
  padding: 5px 0px;
  cursor: pointer;
  background-color: #071620;
}

.homePage .aboutUs {
  display: -ms-grid;
  display: grid;
  width: calc(100vw - 8%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  padding: 4%;
  background-color: #12232E;
  margin-bottom: 50px;
}

.homePage .aboutUs img {
  width: 40vw;
  -ms-grid-column: 2;
  grid-column: 2;
}

.homePage .aboutUs .text {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 40vw;
}

.homePage .aboutUs .text .textFirst h2 {
  margin-bottom: 15px;
  font-size: 33px;
}

.homePage .aboutUs .text .textFirst p {
  font-size: 18px;
}

.homePage .aboutUs .text .textSecond {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.homePage .aboutUs .text .textSecond > div {
  font-size: 18px;
}

.homePage .aboutUs .text .textSecond > div > h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #007cc7;
  margin-bottom: 10px;
}

.homePage .ourService {
  padding: 2% 10%;
  margin-bottom: 100px;
  margin-top: 100px;
}

.homePage .ourService h2 {
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.homePage .ourService .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.homePage .ourService .second > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  padding: 1% 0%;
  width: 20%;
  max-width: 200px;
  min-width: 135px;
  cursor: pointer;
}

.homePage .ourService .second > div:hover {
  opacity: .8;
}

.homePage .contactForm {
  margin-top: 50px;
  background: url("../../../public/assets/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
  margin-bottom: 100px;
}

.homePage .contactForm h2 {
  margin-bottom: 20px;
}

.homePage .contactForm .form > div {
  margin: 20px 0px;
}

.homePage .contactForm .form > div input, .homePage .contactForm .form > div textarea {
  width: calc(100% - 16px);
  margin-top: 5px;
  background-color: #152836;
  border: none;
  padding: 8px;
  font-size: 15px;
  color: #A9A9A9;
}

.homePage .contactForm .form .sendBtn {
  width: calc(100% - 16px);
  font-size: 16px;
  border: none;
  padding: 8px;
  color: white;
  background-color: #007cc7;
  text-align: center;
  cursor: pointer;
}

.homePage .contactForm .form .sendBtn:hover {
  opacity: .8;
}

.homePage .sponsors {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.homePage .sponsors img {
  margin: 0px 10px;
}

@media only screen and (max-width: 1000px) {
  .homePage .firstSection .searchDiv {
    bottom: -150px;
  }
  .homePage .firstSection .searchThirdDiv .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homePage .firstSection .searchThirdDiv .price .priceText {
    margin-bottom: 10px;
  }
  .homePage .contactForm {
    padding: 10% 0;
  }
  .homePage .sponsors {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100vw;
    overflow-x: auto;
    padding: 10px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 200px;
  }
}

@media only screen and (max-width: 550px) {
  .homePage .firstSection {
    margin-bottom: 50px;
  }
  .homePage .firstSection .sliderSection img {
    width: auto;
  }
  .homePage .firstSection .sliderSection .textSlider {
    top: 17vh;
    width: 50vw;
  }
  .homePage .firstSection .searchDiv {
    min-width: 100px;
    position: static;
    width: calc(80vw - 20px);
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-top: 50px;
    padding: 5%;
  }
  .homePage .firstSection .searchDiv .searchHeader h2 {
    font-size: 21px;
    padding: 10px 20px;
    margin-top: 0px;
  }
  .homePage .firstSection .searchDiv .searchSecondDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homePage .firstSection .searchDiv .searchSecondDiv .select {
    margin: 20px 0px;
    width: 90%;
    padding: 0;
  }
  .homePage .firstSection .searchDiv .searchSecondDiv input {
    width: calc(100% - 38px);
  }
  .homePage .firstSection .searchDiv .searchSecondDiv .searchSecondDivInput {
    width: 90%;
  }
  .homePage .firstSection .searchDiv .searchSecondDiv .searchSecondDivInput input {
    width: 50vw;
  }
  .homePage .firstSection .searchDiv .searchThirdDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homePage .firstSection .searchDiv .searchThirdDiv .searchSecondDivInput {
    width: 90%;
  }
  .homePage .firstSection .searchDiv .searchThirdDiv .searchSecondDivInput .select {
    width: auto;
  }
  .homePage .firstSection .searchDiv .searchThirdDiv .searchSecondDivInput input {
    width: auto;
    max-width: 60vw;
  }
  .homePage .firstSection .searchDiv .price {
    margin: 20px 0px;
  }
  .homePage .recommendedCars {
    margin-bottom: 50px;
    min-width: 100px;
    padding: 5%;
    width: calc(80vw - 20px);
  }
  .homePage .recommendedCars .recommendedHeader .selecting > h2 {
    font-size: 21px;
    padding: 10px 20px;
    margin-top: 0px;
  }
  .homePage .recommendedCars .recommendedNewCarsPc {
    display: none;
  }
  .homePage .recommendedCars .recommendedNewCarMobile {
    display: block;
  }
  .homePage .recommendedCars .recommendedNewCarMobile .mySwiper {
    height: auto;
    padding: 40px 0px;
    width: 110%;
    margin-left: -5%;
  }
  .homePage .recommendedCars .recommendedNewCarMobile .swiper-horizontal > .swiper-pagination-bullets,
  .homePage .recommendedCars .recommendedNewCarMobile .swiper-pagination-bullets.swiper-pagination-horizontal,
  .homePage .recommendedCars .recommendedNewCarMobile .swiper-pagination-custom,
  .homePage .recommendedCars .recommendedNewCarMobile .swiper-pagination-fraction {
    bottom: 0px;
  }
  .homePage .recommendedCars .recommendedNewCarMobile .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homePage .compareCars {
    margin-bottom: 50px;
    min-width: 100px;
    padding: 2%;
    width: calc(100vw - 4%);
  }
  .homePage .compareCars .compareCarsSecond .car {
    font-size: 13px;
  }
  .homePage .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homePage .aboutUs .text {
    text-align: center;
    width: 70vw;
  }
  .homePage .aboutUs .text .textFirst {
    margin-right: 0;
  }
  .homePage .aboutUs .text .textSecond {
    width: 100% !important;
  }
  .homePage .aboutUs img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 55vw;
  }
  .homePage .ourService h2 {
    text-align: center;
  }
  .homePage .ourService .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homePage .ourService .second > div {
    margin: 20px;
  }
  .homePage .swiper-horizontal > .swiper-pagination-bullets,
  .homePage .swiper-pagination-bullets.swiper-pagination-horizontal,
  .homePage .swiper-pagination-custom,
  .homePage .swiper-pagination-fraction {
    bottom: 30px;
  }
  .homePage .mySwiper {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 800px) {
  .homePage .firstSection .searchDiv .searchSecondDiv .select {
    padding: 0px;
  }
  .homePage .aboutUs .text .textSecond {
    width: 220%;
  }
  .homePage .aboutUs img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=HomeStyle.css.map */