.mySwiper {
    height: 100vh;
}
.swiper-pagination-bullet {
    background-color: #007cc7;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 150px;
}
.css-319lph-ValueContainer{
    color: white ;
    .css-6j8wv5-Input{
        color: white ;
        &>input{
            color: white ;
        }
}

}
.homePage {
    background-color: #0b0c10;
    .required{
        color: transparent;
        font-size: 13px;
        margin-left: 5px;
    }
    .firstSection {
        margin-bottom: 300px;
        .swiperPhone{
            display: none;
        }
        .sliderSection {
            position: relative;
            height: 100vh;
            img {
                filter: brightness(70%);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                min-width: 100vw;
            }
            .textSlider {
                position: absolute;
                left: 15vw;
                top: 30vh;
                width: 30vw;
                min-width: 150px;
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 18px;
                }
            }
        }
        .searchDiv {
            background-color: #071620;
            padding: 30px;
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 60vw;
            min-width: 500px;
            left: 50%;
            transform: translate(-50%, 50%);
            .searchHeader {
                display: flex;
                justify-content: center;
                & > h2 {
                    padding: 10px 30px;
                    padding-top: 0px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .searchSelected {
                    color: #007cc7;
                    border-bottom: 2px solid #007cc7;
                }
                .searchNotSelected {
                    color: #026fb3;
                    border-bottom: 2px solid transparent;
                }
            }
            .seconAndFirst {
                max-width: 860px;
                margin-left: auto;
                margin-right: auto;
            }
            .searchSecondDiv {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                .searchSecondDivInput {
                    position: relative;
                    height: 38px;
                    background-color: #152836;
                    .select{
                        width: 30vw;
                        margin: 10px;
                    }
                    input {
                        height: 100%;
                        border: none;
                        background-color: #152836;
                        padding-left: 35px;
                        color: white;
                        font-size: 18px;
                        width: 20vw;
                    }
                    .fa-search {
                        position: absolute;
                        top: 10px;
                        left: 8px;
                        font-size: 18px;
                    }
                }
                .select {
                    border: none;
                    background-color: #152836;
                    color: white;
                    padding: 0px 2%;
                }
            }
            .searchThirdDiv {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                .searchSecondDivInput {
                    position: relative;
                    height: 38px;
                    background-color: #152836;
                    .select{
                        width: calc(20vw + 15px);
                        margin-left: 20px;
                    }
                    .fa-map-marker {
                        position: absolute;
                        top: 10px;
                        left: 8px;
                        font-size: 18px;
                    }
                }
                .submit {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #007cc7;
                    padding: 10px 25px;
                    cursor: pointer;
                    max-height: 20px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .price {
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    width: 100%;
                    .range{
                        input{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
    .recommendedCars {
        // background-color: #071620;
        width: 60vw;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 2%;
        margin-bottom: 50px;
        .recommendedHeader {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            align-items: center;
            p {
                color: #007cc7;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
            .selecting {
                display: flex;
                align-items: center;
                h2 {
                    padding: 10px 30px;
                    padding-top: 0px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .selected {
                    color: #007cc7;
                    border-bottom: 2px solid #007cc7;
                }
                .unSelected {
                    color: #026fb3;
                    border-bottom: 2px solid transparent;
                }
            }
        }
        .recommendedNewCarsPc {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            .car{
                width: calc(30% - 20px);
                margin: 0;
            }
        }
        .recommendedNewCarMobile{
            display: none;
        }
    }
    .compareCars{
        // background-color: #071620;
        width: 60vw;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 2%;
        margin-bottom: 50px;
        &>h2{
            margin-bottom: 30px;
        }
        .compareCarsSecond{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .car{
                width: calc(40% - 20px);
                margin: 0;
            }
            .versus{
                background-color: #007cc7;
                padding: 2%;
                border-radius: 50%;
                margin: 5px;
            }
        }
        .compareBtn{
            width: 60%;
            border: 1px solid white;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 50px;
            &:hover{
                opacity: .8;
            }
            h2{
                font-size: 20px;
                padding: 5px 0px;
                cursor: pointer;
                background-color: #071620;
            }
        }
    }

    .aboutUs{
        display: grid;
        width: calc(100vw - 8%);
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 4%;
        background-color: #12232E;
        margin-bottom: 50px;
        img{
            width: 40vw;
            grid-column: 2;
        }
        .text{
            grid-column: 1;
            grid-row: 1;
            width: 40vw;
            .textFirst{
                h2{
                    margin-bottom: 15px;
                    font-size: 33px;
                }
                p{
                    font-size: 18px;
                }
            }
            .textSecond{
                margin-top: 60px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                text-align: center;
                &>div{
                    font-size: 18px;
                    &>h2{
                        padding-bottom: 5px;
                        border-bottom: 1px solid #007cc7;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .ourService{
        padding: 2% 10%;
        margin-bottom: 100px;
        margin-top: 100px;
        h2{
            margin-bottom: 30px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        .second{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            &>div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                padding: 1% 0%;
                width: 20%;
                max-width: 200px;
                min-width: 135px;
                cursor: pointer;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    .contactForm{
        margin-top: 50px;
        background: url('../../../public/assets/form-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3%;
        margin-bottom: 100px;
        h2{
            margin-bottom: 20px;
        }
        .form{
            max-width: 400px;
            width: 70%;
            &>div{
                margin: 20px 0px;
                input, textarea{
                    width: calc(100% - 16px);
                    margin-top: 5px;
                    background-color: #152836;
                    border: none;
                    padding: 8px;
                    font-size: 15px;
                    color: #A9A9A9;
                }
            }
            .sendBtn{
                width: calc(100% - 16px);
                font-size: 16px;
                border: none;
                padding: 8px;
                color: white;
                background-color: #007cc7;
                text-align: center;
                cursor: pointer;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    .sponsors{
        padding-bottom: 100px; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        img{
            margin: 0px 10px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .homePage{
        .firstSection {
            .searchThirdDiv {
                .price {
                    flex-direction: column;
                    .priceText {
                        margin-bottom: 10px;
                    }
                }
            }
        }    
        .contactForm{
            padding: 10% 0;
        }   
        .sponsors{
            justify-content: flex-start;
            width: 100vw;
            overflow-x: auto;
            padding: 10px;
        }
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 200px;
    }
}

@media only screen and (max-width: 550px) {
    .homePage {
        .firstSection {
            margin-bottom: 50px;
            .swiperPc{
                display: none;
            }
            .swiperPhone{
                display: block;
            }
            .sliderSection {
                img{
                    width: auto;
                }
                .textSlider {
                    top: 17vh;
                    width: 65vw;
                }
            }
            .searchDiv {
                min-width: 100px;
                position: static;
                width: calc(80vw - 20px);
                margin-left: auto;
                margin-right: auto;
                transform: translate(0, 0);
                margin-top: 50px;
                padding: 5%;
                .searchHeader {
                    h2 {
                        font-size: 21px;
                        padding: 10px 20px;
                        margin-top: 0px;
                    }
                }
                .searchSecondDiv {
                    flex-direction: column;
                    align-items: center;
                    .select {
                        margin: 20px 0px;
                        width: 90%;
                        padding: 0;
                    }
                    input {
                        width: calc(100% - 38px);
                    }
                    .searchSecondDivInput {
                        width: 90%;
                        input{
                           width: calc(100% - 35px);
                        }
                    }
                }
                .searchThirdDiv {
                    flex-direction: column;
                    align-items: center;
                    .searchSecondDivInput {
                        width: 90%;
                        .select{
                            width: auto;
                        }
                        input {
                            width: auto;
                            max-width: 60vw;
                        }
                    }
                }
                .price {
                    margin: 20px 0px;
                }
            }
        }
        .recommendedCars{
            margin-bottom: 50px;
            min-width: 100px;
            padding: 5%;
            width: calc(80vw - 20px);
            .recommendedHeader{
                .selecting{
                    &>h2{
                        font-size: 21px;
                        padding: 10px 20px;
                        margin-top: 0px;
                    }
                }
            }
            .recommendedNewCarsPc{
                display: none;
            }
            .recommendedNewCarMobile{
                display: block;

                .mySwiper{
                    height: auto;
                    padding: 40px 0px;
                    width: 110%;
                    margin-left: -5%;
                }
                .swiper-horizontal > .swiper-pagination-bullets,
                .swiper-pagination-bullets.swiper-pagination-horizontal,
                .swiper-pagination-custom,
                .swiper-pagination-fraction {
                    bottom: 0px;
                }
                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .compareCars{
            margin-bottom: 50px;
            min-width: 100px;
            padding: 2%;
            width: calc(100vw - 4%);
            .compareCarsSecond{
                .car{
                    font-size: 13px;
                }
            }
        }
        
        .aboutUs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text{
                text-align: center;
                width: 70vw;
                .textFirst{
                    margin-right: 0;
                }
                .textSecond{
                    width: 100% !important; //bez !important ne radi
                }
            }
            img{
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                 width: 55vw;
            }
        }
        .ourService{
            h2{
                text-align: center;
            }
            .second{
                flex-direction: column;
                &>div{
                    margin: 20px;
                }
            }
        }

        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 30px;
        }
        .mySwiper {
            height: 100vh;
            width: 100vw;
        }
    }
    
}
@media only screen and (max-width: 800px) {
    .homePage{
        .firstSection{
            .searchDiv{
                .searchSecondDiv{
                    .select{
                        padding: 0px;
                    }
                }
            }
        }
        .aboutUs{
            .text{
                .textSecond{
                    width: 220%;
                }
            }
            img{
                align-self: flex-start;
            }
        }
    }
    
}
