.registerSection {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 10vw;
  padding-top: 200px;
  min-height: calc(100vh - 250px - 20vw);
  grid-gap: 20px;
  background-color: #0B0C10;
  /* Firefox */
}

.registerSection .required {
  color: transparent;
  font-size: 13px;
  margin-left: 5px;
}

.registerSection input::-webkit-outer-spin-button,
.registerSection input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.registerSection input[type=number] {
  -moz-appearance: textfield;
}

.registerSection .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerSection .form .formInputDiv {
  width: 70%;
  min-width: 250px;
  margin-bottom: 20px;
}

.registerSection .form .formInputDiv .selectLocation {
  background-color: #152836;
  margin-top: 5px;
}

.registerSection .form .formInputDiv input {
  margin-top: 5px;
  width: calc(100% - 16px);
  background-color: #152836;
  border: none;
  padding: 8px;
  font-size: 15px;
  color: #A9A9A9;
}

.registerSection .form .loginBtn {
  margin-top: 5px;
  width: calc(70% - 16px);
  background-color: #007CC7;
  text-align: center;
  border: none;
  padding: 8px;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.registerSection .form .loginBtn:hover {
  opacity: .8;
}

.registerSection .form .register > span {
  color: #007CC7;
  cursor: pointer;
}

.registerSection .form .register > span:hover {
  opacity: .8;
}

.registerSection .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #152836;
  padding: 30px;
}

.registerSection .welcome .welcomeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border: 1px solid gray;
  max-height: 160px;
}

.registerSection .welcome .welcomeContent .logo {
  height: 3vw;
  min-height: 30px;
  cursor: pointer;
}

.registerSection .welcome .welcomeContent .logo:hover {
  opacity: .8;
}

.registerSection .welcome .welcomeContent .text {
  margin: 20px 0px;
  width: 20vw;
  max-width: 250px;
  text-align: center;
  max-height: 160px;
}

.registerSection .welcome .welcomeContent .text h1 {
  text-align: center;
  margin-bottom: 5px;
}

.registerSection .welcome .welcomeContent .icons {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registerSection .welcome .welcomeContent .icons > img {
  margin: 10px;
  cursor: pointer;
}

.registerSection .welcome .welcomeContent .icons > img:hover {
  opacity: .8;
}

@media only screen and (max-width: 550px) {
  .registerSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    grid-gap: 50px;
    padding-bottom: 200px;
  }
  .registerSection .form {
    width: 70vw;
  }
  .registerSection .form .formInputDiv {
    width: 100%;
  }
  .registerSection .form .loginBtn {
    width: calc(100% - 16px);
  }
  .registerSection .welcome .welcomeContent .text {
    width: 100%;
  }
}
/*# sourceMappingURL=RegisterStyle.css.map */