.userPage {
  background-color: black;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 200px;
  /* Firefox */
}

.userPage input::-webkit-outer-spin-button,
.userPage input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userPage .cars {
  width: 100%;
  max-width: 60vw;
  min-width: 200px;
}

.userPage input[type=number] {
  -moz-appearance: textfield;
}

.userPage .userInfos {
  background-color: #071620;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 50px;
  position: relative;
  min-width: 250px;
  max-width: 100vw;
}

.userPage .userInfos .fa-edit, .userPage .userInfos .fa-times {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.userPage .userInfos .fa-edit:hover, .userPage .userInfos .fa-times:hover {
  opacity: .8;
}

.userPage .userInfos img {
  height: 45px;
}

.userPage .userInfos .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 15px;
}

.userPage .userInfos .infos h2 {
  font-size: 20px;
}

.userPage .userInfos .infos p {
  font-size: 14px;
  color: gray;
}

.userPage .userInfos .editProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 30px;
}

.userPage .userInfos .editProfile .editProfileBtn {
  background-color: #1672fd;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}

.userPage .userInfos .editProfile .editProfileBtn:hover {
  opacity: .8;
}

.userPage .userInfos .editProfile p {
  margin-bottom: 5px;
}

.userPage .userInfos .editProfile .selectLocation {
  background-color: #152836;
  color: white;
  width: 100%;
}

.userPage .userInfos .editProfile input {
  background-color: #152836;
  border: none;
  font-size: 18px;
  color: white;
  padding: 5px;
}

.userPage .userInfos .logOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 15px;
  cursor: pointer;
}

.userPage .userInfos .logOut:hover {
  opacity: .8;
}

.userPage .userInfos .logOut .fa {
  margin-right: 5px;
}

.userPage .userInfos .logOut h2 {
  font-size: 20px;
}

.userPage .userInfos .delete p {
  color: red;
  cursor: pointer;
}

.userPage .userInfos .delete p:hover {
  color: #d45555;
}

.userPage .cars h2 {
  margin-bottom: 30px;
}

.userPage .cars .carsList {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.userPage .cars .carsList .carDiv {
  position: relative;
}

.userPage .cars .carsList .carDiv .deleteBtn {
  z-index: 2;
  position: absolute;
  right: 50px;
  top: 20px;
  background-color: #f54545;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.userPage .cars .carsList .carDiv .deleteBtn span {
  margin-top: -3px;
  margin-left: -2px;
}

.userPage .cars .carsList .carDiv .deleteBtn:hover {
  background-color: #ff6600;
}

.userPage .cars .carsList .car {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: unset;
  width: unset;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userPage .cars .carsList .car .carImages {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .userPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 100px;
    margin-bottom: 100px;
  }
  .userPage .cars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
}

@media only screen and (max-width: 500px) {
  .userPage .cars .carsList .car {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .userPage .cars .carsList .car .carImages {
    width: 90%;
  }
  .userPage .cars .carsList .car .carName {
    margin-bottom: 10px;
  }
  .userPage .cars .carsList .car .carPrice {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=UserPageStyle.css.map */