.sellPage input::-webkit-outer-spin-button,
.sellPage input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sellPage .map {
  margin-top: 30px;
  height: 350px;
  margin-bottom: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sellPage .map .leaflet-container {
  height: 100%;
}

.sellPage .required {
  color: transparent;
  font-size: 13px;
  margin-left: 5px;
}

.sellPage .header {
  background-color: #12232e;
  padding: 3.5vw;
  padding-top: calc(60px + 3.5vw);
  margin-bottom: 100px;
}

.sellPage .header h1 {
  margin-bottom: 5px;
}

.sellPage .carDetails {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .carDetails h2 {
  margin-bottom: 30px;
}

.sellPage .carDetails .carDetailsMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.sellPage .carDetails .carDetailsMain > div p {
  margin-bottom: 5px;
}

.sellPage .carDetails .carDetailsMain > div input,
.sellPage .carDetails .carDetailsMain > div .css-b62m3t-container {
  width: 100%;
  padding: 5px;
  background-color: #152836;
  border: none;
  color: white;
  font-size: 18px;
}

.sellPage .carDetails .carDetailsMain > div input {
  width: calc(100% - 20px);
  padding: 10px;
}

.sellPage .carDetails .carDetailsMain .section1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.sellPage .carDetails .carDetailsMain .section2 .radioBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.sellPage .carDetails .carDetailsMain .section2 .radioBtns .radioBtn {
  cursor: pointer;
  margin-right: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70px;
}

.sellPage .carDetails .carDetailsMain .section2 .radioBtns .radioBtn:hover {
  opacity: 0.8;
}

.sellPage .carDetails .carDetailsMain .section2 .radioBtns .radioBtn input,
.sellPage .carDetails .carDetailsMain .section2 .radioBtns .radioBtn p {
  cursor: pointer;
}

.sellPage .carDetails .carDetailsMain .section7 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #152836;
  width: calc(100%);
  font-size: 18px;
}

.sellPage .carDetails .carDetailsMain .section7 .counter .fa {
  background-color: #004a77;
  height: calc(100% + 28px);
  padding: 14px;
  cursor: pointer;
}

.sellPage .carDetails .carDetailsMain .section7 .counter .fa:hover {
  opacity: 0.8;
}

.sellPage .carDetails .carDetailsMain .section9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.sellPage .carDetails .carDetailsMain .section9 .textArea {
  width: calc(100% - 14px);
  padding: 7px;
  background-color: #152836;
  color: white;
  font-size: 18px;
}

.sellPage .engineDetails {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .engineDetails h2 {
  margin-bottom: 30px;
}

.sellPage .engineDetails .mainSecion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.sellPage .engineDetails .mainSecion .first {
  justify-self: flex-start;
}

.sellPage .engineDetails .mainSecion .mid {
  -ms-grid-column-align: center;
      justify-self: center;
}

.sellPage .engineDetails .mainSecion .last {
  justify-self: flex-end;
}

.sellPage .engineDetails .mainSecion > div {
  width: 100%;
  max-width: 350px;
}

.sellPage .engineDetails .mainSecion > div > p {
  margin-bottom: 5px;
}

.sellPage .engineDetails .mainSecion > div .select {
  color: white;
  width: 100%;
  border: none;
  font-size: 16px;
  background-color: #152836;
  outline: none;
  border: 1px solid transparent;
}

.sellPage .engineDetails .mainSecion > div .select:focus {
  border: 1px solid #858585;
}

.sellPage .engineDetails .mainSecion .inputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sellPage .engineDetails .mainSecion .inputDiv input {
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #152836;
  outline: none;
  border: 1px solid transparent;
}

.sellPage .engineDetails .mainSecion .inputDiv input:focus {
  border: 1px solid #858585;
}

.sellPage .engineDetails .mainSecion .inputDiv p {
  background-color: #004a77;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 16px;
}

.sellPage .dimensions {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .dimensions h2 {
  margin-bottom: 30px;
}

.sellPage .dimensions .dimensionSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sellPage .dimensions .dimensionSection .inputDiv > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin: 10px;
  margin-left: 0px;
}

.sellPage .dimensions .dimensionSection .inputDiv > div input {
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #152836;
  outline: none;
  border: 1px solid transparent;
}

.sellPage .dimensions .dimensionSection .inputDiv > div input:focus {
  border: 1px solid #858585;
}

.sellPage .dimensions .dimensionSection .inputDiv > div p {
  background-color: #004a77;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 16px;
}

.sellPage .features {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .features h2 {
  margin-bottom: 30px;
  font-size-adjust: 30px;
}

.sellPage .features .checkList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
}

.sellPage .features .checkList .checkDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sellPage .features .checkList .checkDiv input {
  margin-right: 10px;
  cursor: pointer;
}

.sellPage .features .checkList .checkDiv p {
  cursor: pointer;
}

.sellPage .features .textArea {
  width: calc(100% - 14px);
  padding: 7px;
  background-color: #152836;
  color: white;
  font-size: 18px;
  margin-top: 30px;
}

.sellPage .location {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .location h2 {
  margin-bottom: 30px;
  font-size-adjust: 30px;
}

.sellPage .location .map .leaflet-container {
  z-index: 1;
}

.sellPage .location .content .selectLocation {
  z-index: 2;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  background-color: #152836;
  border: 1px solid #004a77;
  color: white;
  font-size: 18px;
}

.sellPage .price {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .price h2 {
  margin-bottom: 30px;
  font-size-adjust: 30px;
}

.sellPage .price .content .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.sellPage .price .content .input input {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #152836;
  border: none;
  color: white;
  font-size: 18px;
}

.sellPage .price .content .input p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004a77;
  height: calc(100% + 20px);
  padding: 10px 15px;
  font-size: 17px;
}

.sellPage .images {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .images h2 {
  margin-bottom: 30px;
  font-size-adjust: 30px;
}

.sellPage .images .fileInput {
  display: none;
}

.sellPage .images .labelInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sellPage .images .labelInput .inputBtn {
  background-color: #004a77;
  padding: 10px 20px;
  cursor: pointer;
}

.sellPage .images .labelInput .inputBtn:hover {
  opacity: .8;
}

.sellPage .images .displayImages {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
  overflow: auto;
  padding: 20px 0px;
}

.sellPage .images .displayImages .imagesDiv {
  position: relative;
}

.sellPage .images .displayImages .imagesDiv img {
  height: 150px;
  width: 150px;
}

.sellPage .images .displayImages .imagesDiv .fa-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px 6px 5px 6px;
}

.sellPage .images .displayImages .imagesDiv .fa-close:hover {
  opacity: .8;
}

.sellPage .vehicleHistory {
  padding: 4vw;
  background-color: #071620;
  margin: 0px 2vw;
  margin-bottom: 50px;
}

.sellPage .vehicleHistory h2 {
  margin-bottom: 30px;
  font-size-adjust: 30px;
}

.sellPage .vehicleHistory .selectInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12232e;
}

.sellPage .vehicleHistory .selectInput .fileInput {
  display: none;
}

.sellPage .vehicleHistory .selectInput .choseFile {
  background-color: #004a77;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  min-width: 70px;
}

.sellPage .vehicleHistory .selectInput .choseFile:hover {
  opacity: .8;
}

.sellPage .vehicleHistory .selectInput .chosenFile {
  overflow: auto;
}

.sellPage .sellMyCar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.sellPage .sellMyCar p {
  width: 50vw;
  text-align: center;
  padding: 10px 0px;
  background-color: #004a77;
  min-width: 150px;
  max-width: 800px;
  cursor: pointer;
}

.sellPage .sellMyCar p:hover {
  opacity: .8;
}

@media only screen and (max-width: 550px) {
  .sellPage .carDetails {
    padding: 5vw;
    margin: 0px 5vw;
    margin-bottom: 50px;
  }
  .sellPage .carDetails h2 {
    text-align: center;
  }
  .sellPage .carDetails .carDetailsMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sellPage .carDetails .carDetailsMain > div {
    width: 100%;
  }
  .sellPage .engineDetails {
    padding: 5vw;
    margin: 0px 5vw;
    margin-bottom: 50px;
  }
  .sellPage .engineDetails h2 {
    text-align: center;
  }
  .sellPage .engineDetails .mainSecion {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
  .sellPage .engineDetails .mainSecion .first, .sellPage .engineDetails .mainSecion .mid, .sellPage .engineDetails .mainSecion .last {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .sellPage .dimensions {
    padding: 5vw;
    margin: 0px 5vw;
    margin-bottom: 50px;
  }
  .sellPage .dimensions h2 {
    text-align: center;
  }
  .sellPage .dimensions .dimensionSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sellPage .dimensions .dimensionSection .inputDiv {
    margin: 10px 0px;
  }
  .sellPage .features {
    padding: 5vw;
    margin: 0px 5vw;
    margin-bottom: 50px;
  }
  .sellPage .features h2 {
    text-align: center;
  }
  .sellPage .features .checkList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sellPage .location, .sellPage .price, .sellPage .images, .sellPage .vehicleHistory {
    padding: 5vw;
    margin: 0px 5vw;
    margin-bottom: 50px;
  }
  .sellPage .location h2, .sellPage .price h2, .sellPage .images h2, .sellPage .vehicleHistory h2 {
    text-align: center;
  }
}
/*# sourceMappingURL=SellStyle.css.map */