.car{
    width: 50%;
    max-width: 350px;
    margin: 0px 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #007CC7;
    padding: 10px;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    .carImages{
        width: 100%;
    }
    .newBage{
        padding: 5px 15px;
        border: 1px solid #007CC7;
        color: #007CC7;
        width: auto;
        margin: 10px 0px;
        font-size: 14px;
    }
    .carName{
        margin-bottom: 10px;
    }
    .carPrice{
        color: #007CC7;
        margin-bottom: 10px;
    }
    .carLocation{
        margin-bottom: 10px;
    }
    .carInfos{
        margin-left: -10px;
        &>div{
            display: inline-block;
            font-size: 15px;
            margin: 5px 10px;
            &>div{
                align-items: center;
                display: flex;
            }
            img{
                margin-right: 5px;
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    .car{
        .carInfos{
            display: flex;
            flex-direction: column;
        }
    }
}